body {
  background-color: #171b32;
  color: #c8ccd3;
  font-family: 'Nunito', sans-serif;
}
.Navbar {
  background-color: #fff;
  border-radius: 20px;
  color: rgb(229 231 235 / var(--tw-text-opacity));
  backdrop-filter: blur(5px);
}
